 /*===== CSS theme file for CalendarXP 9.0 (Totally configurable) =====*/
/* NOTE: Better use numbered color values instead of literal ones, because opera has problem with the latter in certain cases. */

/* Calendar Day Header - the cells showing "Sunday", "Monday" .... */
.CalHead {cursor:default; text-align:center; background-color:#FFFF94; color:#000000}
/* Day of Week - the Anchor inside CalHead showing the day of week */
.DoWAnchor {text-decoration:none; font:bold 9px Tahoma, Verdana, sans-serif; color:#000000; background-color:#FFFF94}
/* Day Column Cell - the TD cell of each day */
.CalCol {color:#000000; background-color:#FFFFFF}
/* Day Cell - the DIV cell inside TD */
.CalCell {cursor:hand; text-align:center; color:#000000; background-color:#FFFFFF}
/* Day Number - the Anchor inside DIV showing the day number  */
.CellAnchor {text-decoration:none; font:9px verdana; color:#000000; letter-spacing:-2px; background-color:#FFFFFF}

/* WeekNo Header - the top header cell of the week number column */
.WeekHead {cursor:default; text-align:center; font:bold 7pt arial; color:#000000; background-color:#FFFFFF}
/* WeekNo Column Cell - the cells of the week number column */
.WeekCol {cursor:default; text-align:center; color:#000000; background-color:#FFFFFF}
/* WeekNo Anchor style */
.WeekAnchor {text-decoration:none; font:bold 7pt arial; color:#000000; background-color:#FFFFFF}

/* Month navigators - the "<" or ">" used to move to previous or next month */
.MonthNav {vertical-align:middle; height:19px; width:16px; font:bold 8pt arial bold; color:#000000; background-color:#FFFFFF}
A.MonthNav:hover {color:#000000; background-color:#FFFFFF}
A.MonthNav:active {color:#000000; background-color:#FFFFFF}

/* styles for the 3 calendar sections (actually 3 table TDs) */
.CalTop {text-align:center; color:#000000; background-color:#FFFFFF}
.CalMiddle {color:#000000; background-color:#FFFFFF}
.CalBottom {text-align:center; color:#000000; background-color:#FFFFFF}

/* Calendar title - showing year and month. when giDCStyle=0, it's the style of the year/month dropdowns; giDCStyle>0, it's the style to show gsCalTitle.  */
.CalTitle {vertical-align:middle; font:8pt arial; color:#000000; background-color:#FFFFFF}

/* The style of internal floating div/layer tags, which are usually used to create the artificial dropdown selectors. */
.FreeDiv {color:#000000; background-color:#FFFFFF}

/* The style of the outer TABLE tag which is the outer calendar panel. */
#outerTable {border:2px ridge #ffffff; color:#000000; background-color:#FFFFFF}
/* The style of the inner DIV tag that holds the inner panel of all calendar cells. */
#innerDiv {}
/*===== Above CSS styles are commonly used in the script engine =====*/

/*====== Following are additional per-theme styles, e.g. the inner dropdown selectors and today etc. You may have your own defined. ======*/
.BottomAnchor {text-decoration:none; font:bold 7pt Tahoma, Verdana; color:#000000; background-color:#FFFFFF}
A.BottomAnchor:hover {color:white;}
A.BottomAnchor:active {color:white;}
