.header {
    font-family: Verdana;
    font-size: 8pt;
    color: #C9C9C9;
    background-color: #074A87;
}
.headerLink, a:visited.headerLink, a:hover.headerLink, a:link.headerLink
.headerLink2, a:visited.headerLink2, a:hover.headerLink2  {
    text-decoration: none;

	 font-variant: small-caps;
    font-family: Verdana;
    font-size: 8pt;

    color: #C9C9C9;
    background-color: #074A87;
}

a:visited.headerLink, a:visited.headerLink2 {
    color: #C9C9C9;
}

a:hover.headerLink, a:hover.headerLink2 {
    text-decoration: underline;
}

.headerLink2, a:visited.headerLink2, a:hover.headerLink2 {
	font-variant: normal;
}

.statusBarFont
{
	font-size: 8pt;
	color: black;
	font-family: Verdana;
}
.statusBarBg
{
	background-color: #c9c9c9;
}
.markerFont
{
	font-size: 14pt;
	color: black;
	font-family: Arial;
	text-align : center;
	
}
.markerBg
{
	background-color: yellow;
}

.markerTextFont
{
	font-size: 7pt;
	color: black;
	font-family: Tahoma;
	text-align : center;
}
.markerTextBg
{
	background-color: white;
}
.topNavFontOn
{
	font-size: 8pt;
	color: #000000;
	font-family: Trebuchet MS;
	background-color: #CCCCFF;
	font-weight: bold;
	text-align : center;
}
.topNavBgOff
{
	background-color: #C9C9C9;
	font-size: 8pt;
	color: #595959;
	font-family: Trebuchet MS;
	text-decoration: none;
	text-align : center;
}
A:hover.topNavOff
{
	font-size: 8pt;
	color: #000000;
	font-family: Trebuchet MS;
	font-weight: bold;
	text-decoration: none;
	text-align : center;
}
A:link.topNavOff
{
	font-size: 8pt;
	color: #595959;
	font-family: Trebuchet MS;
	text-decoration: none;
	text-align : center;
}
A:link.topNavOn
{
	font-size: 8pt;
	color: #000000;
	font-family: Trebuchet MS;
	font-weight: bold;
	text-decoration: none;
}
A:visited.topNavOff
{
	font-size: 8pt;
	color: #595959;
	font-family: Trebuchet MS;
	text-decoration: none;
}
A:visited.topNavOn
{
	font-size: 8pt;
	color: #000000;
	font-family: Trebuchet MS;
	font-weight: bold;
	text-decoration: none;
}
.portTitle
{
	font-size: 9pt;
	font-family: Trebuchet MS;
	color: #FFFFFF;
	background-color: #074A87;
}
.portFilterLbl
{
	font-size: 7pt;
	font-family: Trebuchet MS;
	color: #FFFFFF;
	background-color: #074A87;
}
.portFilter
{
	font-size: 7pt;
	font-family: Trebuchet MS;
	color: #000000;
}
.portColHdr
{
	font-family: Verdana;
	color: #000000;
	background-color: #C9C9C9;
	font-size: 8pt;
	font-weight: bold;
	height:27px;
}

.portColHdr1
{
	font-family: Verdana;
	color: #000000;
	background-color: #D3D3D3;
	font-size: 8pt;
	height:27px;
}

.displayLabel
{
	font-family: Verdana;
	color: #000000;
	font-size: 10pt;
	font-weight: normal;
}
.displayLabel1
{
	font-family: Verdana;
	color: #000000;
	font-size: 12pt;
	font-weight: normal;
}

.portBody
{
	font-family: Verdana;
	font-size: 8pt;
	color: #000000;
	text-align: left;

}

.redPortBody
{
	font-family: Verdana;
	font-size: 8pt;
	color: #FF0000;
	text-align: left;

}

.jsfPortBody
{
	font-family: Verdana;
	font-size: 8pt;
	color: #000000;
	text-align: left;
}
.jsfPortBody_old
{
	font-family: Verdana;
	font-size: 8pt;
	color: #000000;
	width: 50px;
}
.noScroll
{
	position: relative;
	top: expression(this.offsetParent.scrollTop);
}
/* ------------------------------------------------------------------------ */
/* ----------- CSS To be applied for the Data Entry Pages ----------------- */
/* ------------------------------------------------------------------------ */
.MainLink_Text_ActiveLink
{
   font-size: 11px;
	font-family: Verdana, Arial, sans-serif;
	color: #075791;
	font-weight: bold;
	text-decoration: none;
}

.MainLink_Text_InactiveLink
{
	font-size: 11px;
	font-family: Verdana, Arial, sans-serif;
	color: #666666;
	font-weight: bold;
}

.DataEntry_Body
{
	background: #D1D9E4;
}
.DataEntry_Body_Left
{
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	color: #666666;
}
/*        text-indent: 25px; */

.DataEntry_Body_Middle
{
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	color: #666666;
	text-align: center;
}

.DataEntry_Body_Right
{
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	color: #666666;
	text-align: right;
}

.DataEntry_BoldLabels_Left_Blue
{
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #075791;
	font-size: xx-small;
}
.DataEntry_BoldLabels_Middle_Blue
{
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #075791;
	text-align: center;
	font-size: xx-small;
}

.DataEntry_BoldLabels_Right_Blue
{
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #075791;
	text-align: right;
	font-size: xx-small;
}

.DataEntry_BoldLabels_Left
{
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #666666;
	text-align: left;
	font-size: xx-small;
}

.DataEntry_Labels_Left
{
	font-family: Verdana, Arial, sans-serif;
	font-weight: normal;
	color: #666666;
	text-align: left;
	font-size: xx-small;
}

.DataEntry_BoldLabels_Middle
{
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #666666;
	text-align: center;
	font-size: xx-small;
}
.DataEntry_Labels_Middle
{
	font-family: Verdana, Arial, sans-serif;
	font-weight: normal;
	color: #666666;
	text-align: center;
	font-size: xx-small;
}

.DataEntry_BoldLabels_Right
{
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #666666;
	text-align: right;
	font-size: xx-small;
}

.DataEntry_Labels_Right
{
	font-family: Verdana, Arial, sans-serif;
	font-weight: normal;
	color: #666666;
	text-align: right;
	font-size: xx-small;
}

.DataEntry_BoldLabels_Left_TotalBackGround
{
	font-family: Verdana, Arial, sans-serif;
   font-weight: bold;
	color: #666666;
	text-align: left;
	font-size: xx-small;

}

.DataEntry_BoldLabels_Middle_TotalBackGround
{
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #666666;
	text-align: center;
	font-size: xx-small;
	background-color: #B6C4DA;
}
td.DataEntry_BoldLabels_Middle_TotalBackGround
{
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #666666;
	text-align: center;
	font-size: xx-small;
	background-color: #B6C4DA;
}
td.DataEntry_BorderLeftRight
{
	font-family: Verdana, Arial, sans-serif;
	color: #666666;
	font-size: xx-small;
	background-color: #B6C4DA;
	border-left: 1px solid #6699CC;
	border-right: 1px solid #6699CC;
}

td.DataEntry_BorderLeft
{
	font-family: Verdana, Arial, sans-serif;
	color: #666666;
	font-size: xx-small;
	background-color: #B6C4DA;
	border-left: 1px solid #6699CC;
}
td.DataEntry_BorderRight
{
	font-family: Verdana, Arial, sans-serif;
	color: #666666;
	font-size: xx-small;
	background-color: #B6C4DA;
	border-right: 1px solid #6699CC;
}

td.DataEntry_BorderTop
{
	font-family: Verdana, Arial, sans-serif;
	color: #666666;
	font-size: xx-small;
	background-color: #B6C4DA;
	border-top: 1px solid #6699CC;
}


td.DataEntry_BorderBottom
{
	font-family: Verdana, Arial, sans-serif;
	color: #666666;
	font-size: xx-small;
	background-color: #B6C4DA;
	border-bottom: 1px solid #6699CC;
}

td.DataEntry_BorderTopBottom
{
	font-family: Verdana, Arial, sans-serif;
	color: #666666;
	font-size: xx-small;
	background-color: #B6C4DA;
	border-bottom: 1px solid #6699CC;
	border-top: 1px solid #6699CC;
}

.DataEntry_Total_BackGround
{
	font-family: Verdana, Arial, sans-serif;
	background-color: #B6C4DA;
	color: #666666;
	font-size: xx-small;
}

.DataEntry_TextBoxes
{
	/* --- Ask Karen ---- */
	font-family: Verdana, Arial, sans-serif;
	color: #666666;
	font-size: xx-small;
	width: 50px;
}

/* ------------------------------------------------------------------------ */
/* ----------- CSS To be applied for the Footer Page ----------- */
/* ------------------------------------------------------------------------ */
.Footer_Body
{
	background-color: #6699cc;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	color: #666666;
	height: 22px;
}

.Footer_Button
{
	font-family: Verdana, Arial, sans-serif;
	border-color: #996666;
	color: #075791;
	background-color: #FFFFFF;
	font-weight: bold;
	font-size: 10px;
	height: 18px;
}

.Disclaimer
{
	background-color: #EEEEEE;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	color: #666666;
	height: 22px;
	border: 1px solid #CCCCCC;
	padding: 2px;
	vertical-align: middle;
}



/****************************************************************************/
/*********************** Stylesheet for CreateForecastOverview **************/
/****************************************************************************/

.CFO_Commodity_Bar
{
	background-color: #D1D9E4;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	color: #666666;
	border-bottom: 1px solid #6699CC;
	border-left: 1px solid #6699CC;
	text-indent: 26px;
	height: 22px;
}

td.CFO_Commodity_Bar
{
	background-color: #D1D9E4;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	color: #666666;
	border-bottom: 1px solid #6699CC;
	border-left: 1px solid #6699CC;
	text-indent: 26px;
	height: 22px;
}
.CFO_Title_Bar
{
	background-color: #B6C4DA;
	height: 22px;
	font-weight: bolder;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	border-bottom: 1px solid #6699CC;
	border-top: 1px solid #6699CC;
	color: #075791;
	text-indent: 20px;
}

td.CFO_Title_Bar
{
	background-color: #B6C4DA;
	height: 22px;
	font-weight: bolder;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	border-bottom: 1px solid #6699CC;
	border-top: 1px solid #6699CC;
	color: #075791;
	text-indent: 20px;
}
.CFO_Title_Bar_NoIndent
{
	background-color: #B6C4DA;
	height: 22px;
	font-weight: bolder;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	border-bottom: 1px solid #6699CC;
	border-top: 1px solid #6699CC;
	border-left: 1px solid #6699CC;
	border-right: 1px solid #6699CC;
	color: #075791;
}

td.CFO_Title_Bar_NoIndent
{
	background-color: #B6C4DA;
	height: 22px;
	font-weight: bolder;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	border-bottom: 1px solid #6699CC;
	border-top: 1px solid #6699CC;
	border-left: 1px solid #6699CC;
	border-right: 1px solid #6699CC;
	color: #075791;
}

.CFO_SubTitle_Bar_NoIndent
{
	background-color: #B6C4DA;
	height: 22px;
	font-weight: bolder;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	border-bottom: 1px solid #6699CC;
	border-top: 1px solid #6699CC;
	border-left: 1px solid #6699CC;
	border-right: 1px solid #6699CC;
	color: #075791;
}

td.CFO_SubTitle_Bar_NoIndent
{
	background-color: #B6C4DA;
	height: 22px;
	font-weight: bolder;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	border-bottom: 1px solid #6699CC;
	border-top: 1px solid #6699CC;
	border-left: 1px solid #6699CC;
	border-right: 1px solid #6699CC;
	color: #075791;
}


td.Title_Bar_Middle
{
	background-color: #B6C4DA;
	height: 22px;
	font-weight: bolder;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	border-bottom: 1px solid #6699CC;
	border-left: 1px solid #6699CC;
	color: #075791;
	text-align: center;
}
td.Title_Bar_Right
{
	background-color: #B6C4DA;
	height: 22px;
	font-weight: bolder;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	border-bottom: 1px solid #6699CC;
	border-left: 1px solid #6699CC;
	color: #075791;
	text-align: right;
}
td.Title_Bar_LeftNoIndent
{
	background-color: #B6C4DA;
	height: 22px;
	font-weight: bolder;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	border-bottom: 1px solid #6699CC;
	border-left: 1px solid #6699CC;
	color: #075791;
}

.Title_Bar_Middle
{
	height: 22px;
	font-weight: bolder;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	color: #075791;
	text-align: center;
}
.Title_Bar_Right
{
	height: 22px;
	font-weight: bolder;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	color: #075791;
	text-align: right;
}
.Title_Bar_LeftNoIndent
{
	height: 22px;
	font-weight: bolder;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	color: #075791;
}

.CFO_Data_Bar
{
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	color: #666666;
}

a.CFO_Data_Bar:link
{
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	color: #6699CC;
}

a.CFO_Data_Bar:active, a.CFO_Data_Bar:hover
{
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	color: #075791;
	text-decoration: underline;
}

a.CFO_Data_Bar:visited
{
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	color: #996666;
}
td.Button_Bar
{
	background-color: #B6C4DA;
	height: 22px;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	border-bottom: 1px solid #6699CC;
	border-top: 1px solid #6699CC;
	color: #075791;
	padding-right: 3px;
}

td.Button_Unselected
{

	background-color: #FFFFFF;
	border: 1px solid #996666;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #075791;
}

.Button_Rollover
{
	background-color: #B6C4DA;
	border: 1px solid #996666;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #075791;
}

td.Button_Rollover
{
	background-color: #B6C4DA;
	border: 1px solid #996666;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #075791;
}

.Button_body
{
	background-color: #FFFFFF;
	border: 1px solid #996666;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #075791;
}
.Form_InputBackground_White
{
	background: #FFFFFF;
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	text-align: right;
	width: 50px;
}
.Form_InputBackground_White_CustName
{
	background: #FFFFFF;
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	text-align: left;
	width: 300px;
}
.Form_InputBackground_PaleBlue
{
	background: #D1D9E4;
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	text-align: right;
	font-weight: bold;
	width: 50px;
	border-style: none;
}
.Form_InputBackground_MediumBlue
{
	background: #B6C4DA;
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	font-weight: bold;
	text-align: right;
	width: 50px;
	border-style: inset;
}
.Form_InputBackground_LightGray
{
	background: #CCCCCC;
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	text-align: right;
	width: 50px;
}
.Form_InputBackground_PaleTan
{
	background: #ECECD1;
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	text-align: right;
	width: 50px;
}
.Form_InputBackground_Tan
{
	background: #D0D0A0;
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	text-align: right;
	width: 50px;
}
td.ErrorMessage
{
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	font-weight: bold;
	color: #ff0033;
	text-indent: 26px;
	text-decoration: none;
}
a.ErrorMessage:link
{
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	font-weight: bold;
	color: #ff0033;
	text-indent: 26px;
	text-decoration: none;
}
a.ErrorMessage:active, a.ErrorMessage:hover
{
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	font-weight: bold;
	color: #ff0033;
	text-indent: 26px;
	text-decoration: underline;
}
a.ErrorMessage:visited
{
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	font-weight: bold;
	color: #ff0033;
	text-indent: 26px;
	text-decoration: none;
}

td.WarningMessage
{
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	font-weight: bold;
	color: #5579FF;
	text-indent: 26px;
	text-decoration: none;
}
a.WarningMessage:link
{
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	font-weight: bold;
	color: #5579FF;
	text-indent: 26px;
	text-decoration: none;
}
a.WarningMessage:active, a.WarningMessage:hover
{
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	font-weight: bold;
	color: #5579FF;
	text-indent: 26px;
	text-decoration: underline;
}
a.WarningMessage:visited
{
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	font-weight: bold;
	color: #5579FF;
	text-indent: 26px;
	text-decoration: none;
}
.arrow
{
	font-family: webdings;
	color: black;
	padding: 0;
	font-size: 10px;
	height: 11px;
	width: 10px;
	overflow: hidden;
	margin-bottom: 2;
	margin-top: -3;
	padding: 0;
	padding-top: 0;
	padding-bottom: 2;
}
.15W_20H
{
	width:  15px;
	height: 20px;
}
.38W_20H
{
	width:  38px;
	height: 20px;
}
.45W_20H
{
	width:  45px;
	height: 20px;
}
.68W_20H
{
	width:  68px;
	height: 20px;
}
.74W_20H
{
	width:  74px;
	height: 20px;
}
.82W_20H
{
	width:  82px;
	height: 20px;
}
.110W_20H
{
	width:  110px;
	height: 20px;
}
.140W_20H
{
	width:  140px;
	height: 20px;
}
.180W_20H
{
	width:  180px;
	height: 20px;
}
.200W_20H
{
	width:  200px;
	height: 20px;
}
.235W_20H
{
	width:  235px;
	height: 20px;
}
.420W_40H
{
	width:  380px;
	height: 40px;
}

.500W_40H
{
	width:  500px;
	height: 40px;
}
.420W_200H
{
	width:  420px;
	height: 200px;
}
.15W_18H
{
	width:  15px;
	height: 18px;
}
.38W_18H
{
    font-family: Verdana, Arial, sans-serif;
    font-size: xx-small;
	width:  38px;
	height: 18px;
}
.45W_18H
{
	width:  45px;
	height: 18px;
}
.68W_18H
{
	width:  68px;
	height: 18px;
}
.74W_18H
{
	width:  74px;
	height: 18px;
}
.82W_18H
{
	width:  82px;
	height: 18px;
}
.110W_18H
{
    font-family: Verdana, Arial, sans-serif;
    font-size: xx-small;
	width:  110px;
	height: 18px;
}
.140W_18H
{
    font-family: Verdana, Arial, sans-serif;
    font-size: xx-small;
	width:  140px;
	height: 18px;
}
.180W_18H
{
    font-family: Verdana, Arial, sans-serif;
    font-size: xx-small;
	width:  180px;
	height: 18px;
}
.200W_18H
{
    font-family: Verdana, Arial, sans-serif;
    font-size: xx-small;
	width:  200px;
	height: 18px;
}
.235W_18H
{
    font-family: Verdana, Arial, sans-serif;
    font-size: xx-small;
	width:  235px;
	height: 18px;
}
.300W_18H
{
    font-family: Verdana, Arial, sans-serif;
    font-size: xx-small;
	width:  300px;
	height: 18px;
}
/* Class for displaying copyright message */
.Copyright
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 9px;
	color: #999999;
	text-decoration: none;

}
/****************************************************************************/
/*********************** Stylesheet for Pagination & Search Engine  ********/
/****************************************************************************/

.PaginationActive
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #666666;
	font-weight: bold;
}
a.PaginationActive:active, A.PaginationActive:hover
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #666666;
	font-weight: bold;
	text-decoration: underline;
}
a.PaginationActive:link, A.PaginationActive:visited
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #666666;
	font-weight: bold;
	text-decoration: underline;
	cursor: hand;
}

.PaginationInactive
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #999999;
	font-weight: normal;
}
td.Title_Bar_Pagination
{
 FONT-WEIGHT: bolder;
 FONT-SIZE: x-small;
 COLOR: #075791;
 TEXT-INDENT: 26px;
 FONT-FAMILY: Verdana, Arial, sans-serif;
 HEIGHT: 22px;
 BACKGROUND-COLOR: #d1d9e4;
 TEXT-ALIGN: right
}

.RecordsQuantity
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #666666;
	text-align: right;
	background-color: #ffffff;
}
td.RecordsQuantity
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #666666;
	text-align: right;
	background-color: #ffffff;
	height: 20px;
	vertical-align: middle;
}

.RecordsQuantityTotal
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #999999;
	font-weight: bold;
	text-align: right;
	background-color: #ffffff;
}

td.Title_Bar_Search
{
	background-color: #B6C4DA;
	height: 22px;
	font-weight: bolder;
	font-family: Verdana, Arial, sans-serif;
	font-size: small;
	border-bottom: 1px solid #6699CC;
	border-top: 1px solid #6699CC;
	color: #075791;
	text-indent: 26px;
}

.SearchHeaders
{
	font-family: Verdana, Arial, sans-serif;
	color: #075791;
		font-weight: bold;
	font-size: xx-small;
	background-color: #d1d9e4;
		padding-bottom: 3px;
		padding-top: 3px;
		text-align: center;
}
td.Record_LightBlue
{
	background-color: #d1d9e4;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	color: #075791;
		  text-align: center;
		  vertical-align: top;
		  padding-top: 3px;
		  padding-bottom: 2px;
	border-top: 1px solid #6699cc;
}
td.Record_LightGray
{
	background-color: #eeeeee;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	color: #075791;
		  text-align: center;
		  vertical-align: top;
		  padding-top: 3px;
		  padding-bottom: 2px;
	border-top: 1px solid #6699cc;
}
.LoginLabel
{
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	text-align: right;
	font-weight: bold;
		  padding-right: 5px;
		  padding-top: 2px;
		  vertical-align: top;
}
td.Link_Header
{
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	font-weight: bold;
}
td.Link_Text
{
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
}
td.LoginLabel
{
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	text-align: right;
	font-weight: bold;
		  padding-right: 5px;
		  padding-top: 2px;
		  vertical-align: top;
}
td.LabelLeft
{
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	text-align: left;
	font-weight: bold;
		  padding-right: 5px;
		  padding-top: 2px;
		  vertical-align: top;
}
td.RecordLeft
{
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	text-align: left;
		  padding-top: 2px;
		  vertical-align: top;
}
A.RecordLeft:link
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	cursor: hand;
	text-align: right;
	text-decoration: none;
}

A.RecordLeft:active; A.RecordLeft:hover
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #6699cc;
	text-decoration: underline;
		  cursor: hand;
}
A.RecordLeft:visited
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	cursor: hand;
	text-align: right;
	text-decoration: none;
}

td.RecordCenter
{
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	text-align: center;
		  padding-top: 2px;
		  vertical-align: top;
}

td.LabelCenter
{
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	text-align: center;
	font-weight: bold;
		  padding-right: 5px;
		  padding-top: 2px;
		  vertical-align: top;
}

td.Search_Borders
{
	font-family: Verdana, Arial, sans-serif;
	color: #666666;
	font-size: xx-small;
	background-color: #d1d9e4;
	border-bottom: 1px solid #6699CC;
	border-top: 1px solid #6699CC;
	border-left: 1px solid #6699CC;
	border-right: 1px solid #6699CC;
}
select.Pulldown_Data
{
	font-family: Verdana, Arial, sans-serif;
	color: #075791;
	font-size: xx-small;
	background-color: #eeeeee;
	border-bottom: 1px solid #6699CC;
	border-top: 1px solid #6699CC;
	border-left: 1px solid #6699CC;
	border-right: 1px solid #6699CC;
}
td.Pulldown_Data
{
	font-family: Verdana, Arial, sans-serif;
	color: #075791;
	font-size: xx-small;
	background-color: #eeeeee;
	border-bottom: 1px solid #6699CC;
	border-top: 1px solid #6699CC;
	border-left: 1px solid #6699CC;
	border-right: 1px solid #6699CC;
}
td.DataLabel
{
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	text-align: right;
	font-weight: bold;
		  vertical-align: middle;
}
td.Link_BorderBottom
{
	font-family: Verdana, Arial, sans-serif;
	color: #666666;
	font-size: xx-small;
	background-color: #B6C4DA;
	border-bottom: 1px solid #6699CC;
		  vertical-align: top;
		  padding: 4px;
}
td.Link_Background
{
	font-family: Verdana, Arial, sans-serif;
	color: #666666;
	font-size: xx-small;
	background-color: #B6C4DA;

}
.Link_Labels
{
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
		  font-weight: bold;
	text-align: left;
}
td.Link_Labels
{
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
		  font-weight: bold;
	text-align: left;
	padding-top: 3px;
	padding-bottom: 3px;
}
.Link_Labels_Right
{
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
		  font-weight: bold;
	text-align: right;
	padding-top: 3px;
	padding-bottom: 3px;
}
td.DataEntry_BorderAll
{
	font-family: Verdana, Arial, sans-serif;
	color: #666666;
	font-size: xx-small;
	background-color: #B6C4DA;
	border-bottom: 1px solid #6699CC;
	border-top: 1px solid #6699CC;
	border-left: 1px solid #6699CC;
	border-right: 1px solid #6699CC;
}
table.DataEntry_BorderAll
{
	font-family: Verdana, Arial, sans-serif;
	color: #666666;
	font-size: xx-small;
	background-color: #B6C4DA;
	border-bottom: 1px solid #6699CC;
	border-top: 1px solid #6699CC;
	border-left: 1px solid #6699CC;
	border-right: 1px solid #6699CC;
}
/****************************************************************************/
/*********************** New Styles Added 25 March 04 ***********/
/****************************************************************************/

.SystemText_Left
{
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	color: #075791;
		  font-weight: bold;
}

.SystemText_Right
{
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	color: #075791;
		  font-weight: bold;
		  text-align: right;
}

.SystemText_Center
{
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	color: #075791;
		  font-weight: bold;
		  text-align: center;
}
td.SystemText_Left
{
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	color: #075791;
    font-weight: bold;
     padding-top: 6px;

}

td.SystemText_Right
{
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	color: #075791;
    font-weight: bold;
    text-align: right;
     padding-top: 6px;
}
td.SystemText_Center
{
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	color: #075791;
    font-weight: bold;
    text-align: center;
     padding-top: 6px;

}
td.Link_BorderTop
{
	font-family: Verdana, Arial, sans-serif;
	color: #666666;
	font-size: xx-small;
	background-color: #B6C4DA;
	border-top: 1px solid #6699CC;
		  vertical-align: top;
		  padding: 4px;
}
.LinkSpacing
{
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    font-size: xx-small;
    line-height: 23px;
	padding-left: 38px;
}

td.LinkSpacing
{
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    font-size: xx-small;
    line-height: 23px;
	padding-left: 38px;
}
td.PaleBlue_BorderTopBottom
{
	font-family: Verdana, Arial, sans-serif;
	color: #666666;
	font-size: xx-small;
	background-color: #D1D9E4;
	border-bottom: 1px solid #6699CC;
	border-top: 1px solid #6699CC;
}
/*added 01 Apr 2004 by Karen Pascoe*/
/*FieldInstructions are to be used to set the style for a TD*/
/*FieldInstructions is used to indicate instructional text for a field
  the FieldInstructions are to appear in a row below the field
  that it is providing instruction for, usually in a nested table
  <tr><td>FieldContents</td></tr>
  <tr><td>FieldInstructions</td></tr>
*/
td.FieldInstructions
{
 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
 font-size: xx-small;
 color: #666666;
 font-weight: bold;
 vertical-align: top;
 padding-left: 12px;
}

/*added 01 Apr 2004 by Karen Pascoe*/
/*NotRequired & Required are to be used to set the style for a TD*/
/*NotRequired is used to indicate the required field asterisk "*" for a field that is not required
  Required is used to indicate the required field asterisk "*" for a field that is required
  NotRequired essentially renders the asterisk "*" invisible
  the structure of a table should be:
  <td class="FieldLabels">Field Label</td>
  <td class="Required" or class="NotRequired">*</td>
  <td class="FieldContent">Field Content</td>
*/
td.NotRequired
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #d1d9e4;
	vertical-align: top;
	padding-top: 6px;
	padding-left: 1px;
	padding-right: 1px;
}
td.Required
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #666666;
	font-weight: bold;
	vertical-align: top;
	padding-top: 6px;
	padding-left: 1px;
	padding-right: 1px;
}
/*added 01 Apr 2004 by Karen Pascoe*/
/*alertText is to be used to set the style for a TD or <span> of text*/
/*alertText is to appear on the right part of the screen
  as a supplement to instruction text
  to alert users of something special*/
.alertText
{
 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
 font-size: xx-small;
 font-weight: bold;
 text-align: right;
 color: 6699cc;
}

td.alertText
{
 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
 font-size: xx-small;
 font-weight: bold;
 text-align: right;
 color: 6699cc;
}

/*added 01 Apr 2004 by Karen Pascoe*/
/*FieldLabels is to be used to set the style for a TD or a <span>*/
/*FieldLabels is used to properly align the labels
  for a form submission field
  FieldLabels aligns the text to the right
  and aligns the baseline of the text properly with
  form submission fields
  If FieldLabels is used as a <span>, then it will only set the font
  the vertical alignment is only when the class is applied in a td*/

td.FieldLabels
{
 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
 font-size: xx-small;
 font-weight: bold;
 text-align: right;
 color: #666666;
 vertical-align: top;
 padding-top: 6px;
}

.FieldLabels
{
 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
 font-size: xx-small;
 font-weight: bold;
 text-align: right;
 color: #666666;
 vertical-align: top;
 padding-top: 6px;
}

/* Class for title bars with a border on top and bottom
   Created 12 Apr 2004 by Karen Pascoe
*/
.Page_Title_Bar
{
	background-color: #B6C4DA;
	height: 22px;
	font-weight: bolder;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	color: #075791;
	text-indent: 26px;
}

td.Page_Title_Bar
{
	background-color: #B6C4DA;
	height: 22px;
	font-weight: bolder;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	border-bottom: 1px solid #6699CC;
	border-top: 1px solid #6699CC;
	color: #075791;
	text-indent: 26px;
}

/*added 16 Apr 2004 by Karen Pascoe*/
/*SearchHeadersMedium is to be used to set the style for a TD or a <span>*/
/*SearchHeadersMedium is used to properly align the labels
  in the center on top of data on the medium blue background.
  */

.SearchHeadersMedium
{
	font-family: Verdana, Arial, sans-serif;
	color: #075791;
  font-weight: bold;
	font-size: xx-small;
	background-color: b6c4da;
  padding-bottom: 3px;
  padding-top: 3px;
  text-align: center;
}

.SmallHeaders_RightAlign
{
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
		  font-weight: bold;
	text-align: right;
		  padding-top: 1px;
		  padding-bottom: 1px;
		  padding-right: 6px;
}
td.Link_BorderTopBottom
{
	font-family: Verdana, Arial, sans-serif;
	color: #666666;
	font-size: xx-small;
	background-color: #B6C4DA;
	border-bottom: 1px solid #6699CC;
		  border-top: 1px solid #6699CC;
		  vertical-align: top;
		  padding: 4px;
}
td.Padding
{
	font-family: Verdana, Arial, sans-serif;
	color: #666666;
	font-size: xx-small;
	background-color: #B6C4DA;
		  vertical-align: top;
		  padding: 4px;
}

.DataEntry_BoldLabels_Center
{
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #666666;
	text-align: center;
	font-size: xx-small;
}

input.Input_Small
{
	font-family: Verdana, Arial, sans-serif;
	color: #075791;
	font-size: xx-small;
	background-color: #eeeeee;
	border-bottom: 1px solid #6699CC;
	border-top: 1px solid #6699CC;
	border-left: 1px solid #6699CC;
	border-right: 1px solid #6699CC;
		  text-align: right;
}

.SearchHeaders_Dark
{
	font-family: Verdana, Arial, sans-serif;
	color: #075791;
		  font-weight: bold;
	font-size: x-small;
	background-color: #B6C4DA;
		  padding-bottom: 3px;
		  padding-top: 3px;
		  text-align: center;
}

td.Record_LeftHighlight
{
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	color: #075791;
		  text-align: left;
		  vertical-align: top;
		  padding-top: 3px;
		  padding-right: 4px;
		  padding-left: 6px;
		  background-color: #b6c4da;
		  border-left: solid 1px #6699CC;
		  border-top: solid 1px #6699CC;
		  padding-bottom: 6px;
}

td.Padding_Bottom
{
	padding-bottom: 6px;
}


td.Padding_Bottom_WithText
{
	padding-bottom: 6px;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	color: #075791;
}

td.Data_Subheaders
{
	background-color: #6699cc;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	color: #ffffff;
		  font-weight: bold;
		  text-align: left;
		  vertical-align: top;
		  padding-top: 4px;
		  padding-bottom: 3px;
		  padding-left: 6px;
}


.Small_Data
{
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
}

.DataRecord_LightBlue_Right
  {
	font-family: Verdana, Arial, sans-serif;
	color: #075791;
	font-size: xx-small;
	background-color: d1d9e4;
		  text-align: right;
		  padding-right: 12px;
}

.DataRecord_LightGray_Right
  {
	font-family: Verdana, Arial, sans-serif;
	color: #075791;
	font-size: xx-small;
	background-color: eeeeee;
		  text-align: right;
		  padding-right: 12px;
}

.DataLabel_LightBlue_Left
  {
	font-family: Verdana, Arial, sans-serif;
	color: #075791;
		  font-weight: bold;
	font-size: xx-small;
	background-color: b6c4da;
		  text-align: left;
		  padding-left:26px;
}

th.sorted a, th.sortable a {
	background-position: right;
	display: block;
	padding: 2px 4px 2px 4px;
	text-align: center;
	vertical-align: top;
	margin:0;
	padding:0;
	font-size: 1em;
	background-repeat:no-repeat;
	list-style-type:none;
}
th.sortable a {
	background-image: url(../images/arrow_off.png);
}
th.order1 a {
	background-image: url(../images/arrow_down.png);
}
th.order2 a {
	background-image: url(../images/arrow_up.png);
}

th.sorted a, th.sortable a {
	background-position: right;
	display: block;
}


th a, th a:visited {
  color: #075791;
  text-decoration:none
}
th a:hover {
  color: #075791;
  text-decoration:none
}

table.mars  {
		background: #6699cc;
}

table.mars  th {
	border-top: 1px solid #6699cc;
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	background-color: #d1d9e4;
		  text-align: center;
		  vertical-align: top;
		  padding-top: 3px;
		  padding-bottom: 2px;
	border-top: 1px solid #6699cc;
	font-weight: bold;
}

table.mars tr.odd {
	background-color: #eeeeee;
}
table.mars td {
	font-family: Verdana, Arial, sans-serif;
	font-size: xx-small;
	color: #075791;
		  vertical-align: top;
		  padding-top: 3px;
		  padding-bottom: 2px;
	border-top: 1px solid #6699cc;
}
table.mars tr.even {
	background-color: #d1d9e4;
}
/* ------------------------------------------------------------------------ */
/* ----------- CSS To be applied for the Left Navigation Panel ------------ */
/* ------------------------------------------------------------------------ */
.leftNavOff {
    background-color: #CCCCFF;
    font-family:Verdana;
    font-size:7pt;
    color:#000000;
    text-decoration: none;
    height: 21px;
    width: 160px;
}

.leftNavOn {
    background-color: #FFFFCC;
    font-family:Verdana;
    font-size:7pt;
    color:#000000;
    text-decoration: none;
    width: 160px;
    height: 21px;
    font-weight: bold;
}

td.leftNavOff {
    width: 160px;
    padding: 0px;
}

td.leftNavOn {
	width: 160px;
	padding-left: 2px;
}

A:hover.leftNavOff, A:visited.leftNavOn
{
    background-color: #FFFFCC;
    text-decoration: none;
    color: #000000;
    width: 160px;
    display: block;
    padding-top: 4px;
}

A.leftNavOff {
    padding-top: 4px;
    padding-left: 2px;
}

.leftNavIndent {
	display: block;
	padding-left: 5px;
}

.* {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
}

.standard {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
p {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
td
 {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.standard_bold {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
    font-weight: bold;
}

.scrollerTable {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
    padding: 2;
    border-style: solid;
    border-width: 1px;
    width: 400px;
}

.scroller {
    padding-left:20px;
}

.paginator {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}


.standardTable {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
    padding: 2;
    border-style: solid;
    border-width: 1px;
}

.standardTable_Header {
	color: #000000;
    background-color: #FFDD00;
    padding: 3;
    text-align: center;
    border: none;
}

.standardTable_SortHeader {
    background-color: #FFDD00;
    color: #000000;
    padding: 3;
    text-align: center;
    border: none;
    font-weight: bold;
}

.standardTable_Footer {
    background-color: #FFFFE0;
}

.standardTable_Row1 {
    background-color: #FFFFE0;
}

.standardTable_Row2 {
    background-color: #FFFFE0;
}

.standardTable_Column {
}

.standardTable_ColumnCentered {
    text-align: center
}

a
{
	color: #333366;
    text-decoration: underline;
}

a:hover
{
	color: #333366;
    text-decoration: underline;
}

.error {
	color: #FF0000;
}

.sortLink {
	color: #333366;
    text-decoration: none;
}


.pageLayout {
    width:760px;
    height:100%;
}

.pageHeader {
    background-color: #6392C6;
    text-align: center;
    vertical-align: middle;
    height:1px;
    overflow:visible;
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}

.pageHeader1 {
}
.pageHeader2 {
    width:100%;
}
.pageHeader2col1 {
    background-color: #FFFFFF;
}

.pageNavigation {
    text-align: left;
    vertical-align: top;
    width: 200px;
    background-color: #E7EFF7;
    border: 1px solid #6392C6;
    padding: 10px;
}

.pageBody {
    text-align: left;
    vertical-align: top;
    width: 560px;
    padding: 20px;
    background-color: #FFFFFF;
}

.pageFooter {
    text-align: right;
    font-size: xx-small;
    height:1px;
    overflow:visible;
    background-color: #6392C6;
    color: #FFFFFF;
}



.navigation {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
    width: 100%;
}

.navitem {
	white-space : nowrap;
    text-decoration : none;
}

a.navitem:hover,active {
	white-space : nowrap;
	text-decoration: none;
    color: #6392C6;
}

.navitem_open {
	white-space : nowrap;
	text-decoration: none;
	font-weight : bold;
}

a.navitem_open:hover,active {
	white-space : nowrap;
	text-decoration: none;
	font-weight : bold;
    color: #6392C6;
}

.navitem_active {
	white-space : nowrap;
	text-decoration: none;
	font-weight : bold;
    background-color: #6392C6;
	width: 100%;
    color: #FFFFFF;
}

a.navitem_active:hover,active {
	white-space : nowrap;
	text-decoration: none;
	font-weight : bold;
    background-color: #6392C6;
	width: 100%;
    color: #FFFFFF;
}


.navseparator {
    line-height: 12px;
    border-bottom: 1px solid #A2B7C5;
}



.fileUploadInput {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
    width: 250px;
}




.emptyHeader {
    background-color: #FFFFFF;
    border-top: 0px none;
    border-right: 0px none;
    border-bottom: 0px none;
    border-left: 0px none;
}



div.titlebar {
  background: #C7D0D9;
  color: black;
  border: 1px solid #8CACBB;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 1px 1px;
  clear: both;
}

/*
   ------------------------------------------------------------
   Calendar component
   ------------------------------------------------------------
*/

.yearMonthHeader {
    background-color: #DDDDDD;
    color: #000000;
    text-align: center;
    border: none;
    font-weight: bold;
}

.weekHeader {
    background-color: #E7E7E7;
    color: #000000;
    text-align: center;
    border: none;
}

.currentDayCell {
    background-color: #DDDDDD;
    color: #000000;
    border: none;
}



.countryFormTable {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
    padding: 2;
    border-style: solid;
    border-width: 1px;
}

.countryFormHeader {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
    padding: 2;
    border-style: none;
    background-color: #FFDD00;
    text-align: center;
	font-weight : normal;
}

.countryFormFooter {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
    padding: 2;
    border-style: none;
    background-color: #FFDD00;
    text-align: center;
	font-weight : normal;
}

.countryFormLabels {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
    padding: 2;
    border-style: none;
    text-align: right;
	font-weight : bold;
}

.countryFormInputs {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
    padding: 2;
    border-style: none;
}

.tree {
   lineheight: 18px;
   font-family: arial, sans-serif;
}

.treenode {
   padding: 2px 2px 2px 5px;
}

.treenode a {
   text-decoration: none;
}

.treenodeSelected {
   padding: 2px 2px 2px 5px;
}

.treenodeSelected a {
   text-decoration: none;
   font-weight: bold;
}

table .selectOneRadio {
    font-weight: bold;
}


.standardList {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.newAlert {
	border: thin solid #FF4500;
	background-color: #FFF;
	font: normal normal normal 8pt verdana;
	color: #000;
}

.newAlertTitle {
	background-color: #FF4500;
	padding-left: 10px;
	font-family: Verdana;
	font-weight: bolder;
	font-size: 12pt;
	color: #FFF;
	font-stretch: wider;
	font-variant: small-caps;
}

.newAlertLabel {
	padding-left: 10px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 10pt;
	color: #000;
	font-stretch: wider;
	vertical-align: middle;
	text-align: left;
}

a.reportsLink, .reportsLink {
	font-family:Verdana;
	font-size:12pt;
	padding-left:20px;
}

h3.reportsHeader {
	font-family: Verdana;
	font-size: 14pt;
	color: black;
	font-weight: bold;
	padding-left:10px;
}

.psiNavHeader {
    font-family: Verdana;
    font-size: 7pt;
    color: #FFF;
    background-color: #074A87;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
}

.psiNavText {
    font-family: Verdana;
    font-size: 7pt;
    color: #000;
	 padding-left:5px;
}

.psiTableHeader {
  font-family: Verdana;
  font-size: 8pt;
  color: #000;
  background-color: #999;
  font-weight: bold;
  border:1px solid #FFF; border-left:none; border-right:none;
}

.psiTableData {
  font-family:Verdana;
  font-size: 8pt;
  color: #000;
  }
  
  .redPsiTableData {
  font-family:Verdana;
  font-size: 8pt;
  color: #FF0000;
  }

.lb {
  font-family:Arial;
  font-size: 8pt;
  color: blue;
}

.letter {
  font-family:Arial;
  font-size: 10pt;
}

.letter_small {
  font-family:Arial;
  font-size: 8pt;
}

.letter_blue {
  font-family:Arial;
  font-size: 10pt;
  font-weight:bold;
  color: #075791;
}

.letter_blue_small {
  font-family:Arial;
  font-size: 8pt;
  font-weight:bold;
  color: blue;
}


.letter_red {
  font-family:Arial;
  font-size: 10pt;
  font-weight:bold;
  color: red;
}

.letter_red_small {
  font-family:Arial;
  font-size: 8pt;
  color: red;
}

.letter_green {
  font-family:Arial;
  font-size: 10pt;
  font-weight:bold;
  color: green;
}

