textarea {
		width: 250px;
		height: 80px;
}

.formHeader
{
        color: #000000;
        background: #CCFFCC;
        font-weight: bold;
        font-family: Verdana, Arial, sans-serif;
        font-size: 14px;
        text-align: left;
}
.questionGrayBG
{
        color: #000000;
        background: #C9C9C9;
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
        text-align: left;
}

.questionGrayBG
{
        color: #000000;
        background: #E0E0E0;
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
        text-align: left;
}
.questionGrayBG td 
{
        color: #000000;
        background: #E0E0E0;
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
        text-align: left;
}
.questionTableHeader
{
        color: #000000;
        background: #C9C9C9;
        border-color: #C9C9C9;
        border-background-color: #C9C9C9;
        font-weight: bold;
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
        text-align: left;
        border-width: 0;
        border-height: 0;
		margin: 0;
		padding: 0;
}
.questionHeader
{
        color: #000000;
        background: #C9C9C9;
        border-color: #C9C9C9;
        border-background-color: #C9C9C9;
        font-weight: bold;
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
        text-align: left;
        border: 0;
		margin: 0;
		padding: 0;
		height: 24px;
		vertical-align: middle;
}
.questionTable
{
        color: #000000;
        font-weight: bold;
        border-color: #C9C9C9;
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
        text-align: left;
      	margin: 0;
      	padding: 0;
        border-width: 0;
        border-height: 0;
        border-spacing: 0;
}
.questionText
{
        color: #000000;
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
        text-align: left;
		padding:0;
}
.questionTextBold
{
        color: #000000;
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
		padding:0;
}
.questionTextSmall
{
        color: #000000;
        font-family: Verdana, Arial, sans-serif;
        font-size: 9px;
        text-align: left;
		padding:0;
}
.indent
{
        color: #000000;
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
		padding-left: +50px;
		display: block;
}
.choice
{
		padding-left: +30px;
		display: block;
}
.help
{
        color: #000000;
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
        cursor: hand;
}
.unindent
{
        color: #000000;
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
		margin-left: -30px;
		display: block;
}
.textIndent
{
        padding-left: +30px;
}

#columnText, .columnText
{
        color: #000000;
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
        text-align: left;
		padding:0;
}
.questionHeader
{
        color: #000000;
        font-weight: bold;
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
        text-align: left;
		padding:0;
}
.question
{
        color: #000000;
        font-weight: normal;
        font-family: Verdana, Arial, sans-serif;
}
.answer
{
        color: #000000;
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
}
.answer td
{
        color: #000000;
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
}
.bgLtGray
{
        color: #000000;
        background-color: #EEEEEE;
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
}
td
{
   display: block;
}
.sectionText
{
        color: #000000;
        background: #FFFFCC;
        font-weight: bold;
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
        text-align: left;
}
.specify
{
    display: none;    
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;    
}
.hidden
{
    display: none;    
}
.multiSelectHeaderText
{
        color: #000000;
        background: #FFFFFF;
        font-weight: bold;
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
        text-align: left;
}

.confirmationText
{
        color: black;
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
        font-weight: normal;        
        text-align: center;
        font-weight: bold;             
	    padding:0;
}
.confirmationHeader
{
        color: #000000;
        font-family: Verdana, Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;        
        text-align: left;
	    padding:0;
}
.formContent 
{
			position: absolute;
			border: 1px solid green;
			
			overflow: scroll;
			height: expression(body.clientHeight - (body.clientHeight * 0.34));
			width: 100%;
		}

.inputWide {
	width: 250px;
}

.inputMedium {
	width: 175px;
}
		
.testStyle
{
	background-color: red;
	color: green;
}

.altTestStyle
{
	background-color: blue;
	color: white;
}
.note
{
    color: red;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.horizontalRow 
{
}
