<XML ID="gcsmUserList" src="gcsm_user_list.jsp"></XML>
<script>
   function search(aForm)
   {

       var criteria = aForm.code.value;
       if(criteria == null || criteria.length == 0)
       {
          alert("Search Criteria not provided");
          return false;
       }

       criteria = criteria.toLowerCase();

       //get Results list
       var resultList = aForm.resultList;
       resultList.options.length = 0;

       var rec = gcsmUserList.recordset;
       rec.moveFirst();

       var possibleNameMatch= "";
       while(!rec.EOF)
       {
          possibleNameMatch= new String(rec("name")).toLowerCase();

          if( possibleNameMatch.indexOf(criteria) > -1)
          {
             //found a match
             resultList.options.length += 1;
             resultList.options(resultList.options.length -1).text =
		     possibleNameMatch;

          }
           rec.moveNext();
       }

       if(resultList.options.length == 0)
       {
           resultList.options.length += 1;
           resultList.options(resultList.options.length -1).text = "No data Found";
       }
       resultList.size = resultList.options.length + 1;
   }
</script>
<body bgcolor="#FFFFFF" text="#996666" link="#FF0000" alink="#FF9999" vlink="#663333">
<h1>Search Database</h1>
<table border="1">
  <tr>
    <td><a href="index.html"><img src="image/home.jpg" width="80" height="41" border="0"></a></td>
    <td><a href="list_all_sic.html"><img src="image/list.jpg" onMouseOut="window.status='List All Data';" onMouseOver="window.status='List All Data';" width="80" height="41" border="0"></a></td>
    <td><a href="search_sic.html"><img src="image/search.jpg" width="80" height="41" border="1"></a></td>
  </tr>
</table>
<br>
<form name="aForm" method="post" action="" onSubmit="search(this);return false;">
  <table width="30%" border="0" bgcolor="#CCCC33">
    <tr bgcolor="#FFFF99">
      <td colspan="2"><b>Search By Sic Code or Company Name</b></td>
    </tr>
    <tr>
      <td>
        <input type="text" name="code">
      </td>
      <td>
        <input type="button" name="Search" value="Search" onClick="search(this.form);">
      </td>
    </tr>
    <tr bgcolor="#FFFFFF">
      <td colspan="2">
        <select type="list" size="5" name="resultList">
          <option>Search Results will be placed hear</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
<p>&nbsp;</p>
